{% extends layout_template  %}

{% block title %}List users{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>List users</h1>
    </div>

    {% if numResults == 1 %}
        <strong>{{ numResults }}</strong> user found.
    {% else %}
        <strong>{{ numResults }}</strong> users found.
    {% endif %}

    Showing <strong>{{ firstResult }} - {{ lastResult }}</strong>

    {% for user in users %}

        <div class="media">
            <a class="media-object pull-left" href="{{ path('user.view', {'id': user.id}) }}">
                <img src="{{ user.imageUrl }}" width="40" height="40" border=0>
            </a>

            <div class="media-body">
                <h4 class="media-heading">
                    <a href="{{ path('user.view', {'id': user.id}) }}">{{ user.displayName }}</a>
                </h4>

                {% if is_granted('ROLE_ADMIN') %}
                    <div class="muted">
                        {{ user.email }}
                    </div>
                {% endif %}
            </div>
        </div>

    {% endfor %}

    {% if nextUrl or prevUrl %}
        <ul class="pager pull-left">
            {% if prevUrl %}
                <li><a href="{{ prevUrl }}"><i class="icon-arrow-left"></i> Previous</a></li>
            {% endif %}
            {% if nextUrl %}
                <li><a href="{{ nextUrl }}">Next <i class="icon-arrow-right"></i></a></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
