{% extends layout_template  %}

{% block title %}Sign in{% endblock %}

{% block content %}

    {% if app.user %}
        <p>Hello, {{ app.user.name|escape }}.</p>
        <p><a href="{{ path('user.logout') }}">Sign out</a></p>

    {% else %}
        <h2>Sign in</h2>

        {% if error %}
            <div class="alert alert-error">{{ error }}</div>
        {% endif %}

        <form class="form-horizontal" method="POST" action="{{ path('user.login_check') }}">
            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input name="_username" type="text" id="inputEmail" placeholder="Email" value="{{ last_username|escape }}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input name="_password" type="password" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <!--
                    <label class="checkbox">
                        <input type="checkbox" name="_remember_me" checked> Remember me
                    </label>
                    -->
                    <button type="submit" class="btn">Sign in</button>
                </div>
            </div>
        </form>

    {% endif %}
{% endblock %}