{% extends layout_template  %}

{% block title %}Sign in{% endblock %}

{% block content %}

    {% if app.user %}
        <p>Hello, {{ app.user.displayName }}.</p>
        <p><a href="{{ path('user.logout') }}">Sign out</a></p>

    {% else %}
        <h1>
            Sign in
        </h1>

        <p class="text-muted lead">
            Don't have an account? <a href="{{ path('user.register') }}">Register now.</a>
        </p>

        {% if error %}
            <div class="alert alert-danger">{{ error|nl2br }}</div>
        {% endif %}

        <form class="form-horizontal" method="POST" action="{{ path('user.login_check') }}">

            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputEmail">Email</label>
                <div class="col-sm-6">
                    <input class="form-control" name="_username" type="text" id="inputEmail" placeholder="Email" required value="{{ last_username }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPassword">Password</label>
                <div class="col-sm-6">
                    <input class="form-control" name="_password" type="password" id="inputPassword" required placeholder="Password">
                </div>
            </div>

            {% if allowRememberMe %}
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-2 checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me" value="true" checked> Remember me on this computer
                        </label>
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                    {% if allowPasswordReset %}
                        <a style="margin-left: 10px;" href="{{ path('user.forgot-password') }}">Forgot your password?</a>
                    {% endif %}
                </div>
            </div>

        </form>

    {% endif %}
{% endblock %}